[Desktop Entry]
Type=Application
Name=Canva Linux
GenericName=Design Tool
Comment=A community opensource desktop wrapper for use with Canva
Exec=run.sh
Icon=io.github.coletivo420.canva-linux
Categories=Graphics;2DGraphics;
Keywords=canva;design;graphics;photo;editor;
StartupNotify=true
StartupWMClass=io.github.coletivo420.canva-linux
X-GNOME-WMClass=io.github.coletivo420.canva-linux
Actions=X11Fallback;

[Desktop Action X11Fallback]
Name=Canva Linux (X11 fallback)
Exec=env CANVA_FORCE_X11=1 run.sh
